.song-container{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    margin-top: 0.5rem;
    width: 20%;
    border-radius: 100%;
  }
  h2{
    padding: 3rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width:768px){
  .song-container{
    img{
      width: 60%;
    }
  }
}